{% extends 'base.html' %}

{% block title %}Pruebas Saber 11: Resultados del Año 2017{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="display-4 text-center">Pruebas Saber 11: Resultados del Año 2017</h1>
        <p class="lead">
          Aquí se muestran los resultados en forma gráfica de las 
          pruebas Saber 11 de los años 2016 (calendarios A y B) y 
          2017 (calendario B). El 27 de agosto de 2017 se aplicaron
          las pruebas Saber 11 del calendario A y los resultados
          individuales se publicarán el sábado 11 de noviembre de 2017.
          La publicación de resultados agregados por Institución y 
          Secretarías de Educación se realizará el sábado 25 de 
          noviembre de 2017.
        </p>
        <p class="lead">
          El examen Saber 11 lo presentan principalmente los 
          estudiantes del grado undécimo que están en proceso de
          terminar el último año de educación media. Es un requisito
          necesario para el ingreso a establecimientos de educación
          superior.
        </p>
        <p class="lead">
          El Examen Saber 11 se compone de cinco pruebas:
          <ul>
            <li>Lectura Crítica</li>
            <li>Matemáticas</li>
            <li>Sociales y Ciudadanas</li>
            <li>Ciencias Naturales</li>
            <li>Inglés</li>
          </ul>
        </p>
        <p class="lead">
          El puntaje global se obtiene al multiplicar el índice 
          global por cinco. El índice global se obtiene como promedio
          ponderado de los resultados de las cinco pruebas del 
          examen. La ponderación de cada prueba es la siguiente: 
          Lectura Crítica 3, Matemáticas 3, Sociales y Ciudadanas 3,
          Ciencias Naturales 3 e Ingles 1. 
        </p>
        <p class="lead">
              En el calendario B, 12993 estudiantes de 350 colegios participaron en las pruebas que se realizaron el 12 de marzo de 2017. Los siguientes 
              departamentos están representados: La Guajira, Antioquia, Risaralda, 
              Magdalena, Santander, Nariño, Valle, Quindio, Atlántico, Cesar, Bolivar, 
              Córdoba, Cundinamarca, Cauca, Caldas y el Distrito Especial de Bogotá.
              Los colegios con menos estudiantes tienen 1 y el colegio con mayor número
              de estudiantes tiene 206 (Comfandi Prado, Cali)
            </p>
        <table class="table table-bordered">
  <thead class="thead-default">
    <tr>
      <th>Departamento</th>
      <th>Número de Colegios</th>
      <th>Número de Estudiantes</th>
      <th>Promedio Puntaje Global</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>VALLE</td>
      <td>189</td>
      <td>6856</td>
      <td>288</td>
    </tr>
    <tr>
      <td>BOGOTÁ</td>
      <td>50</td>
      <td>2527</td>
      <td>343</td>
    </tr>
    <tr>
      <td>CUNDINAMARCA</td>
      <td>27</td>
      <td>739</td>
      <td>330</td>
    </tr>
    <tr>
      <td>ATLÁNTICO</td>
      <td>20</td>
      <td>690</td>
      <td>326</td>
    </tr>
    <tr>
      <td>CAUCA</td>
      <td>23</td>
      <td>593</td>
      <td>292</td>
    </tr>
    <tr>
      <td>ANTIOQUIA</td>
      <td>11</td>
      <td>511</td>
      <td>330</td>
    </tr>
    <tr>
      <td>NARIÑO</td>
      <td>5</td>
      <td>285</td>
      <td>303</td>
    </tr>
    <tr>
      <td>CALDAS</td>
      <td>5</td>
      <td>187</td>
      <td>334</td>
    </tr>
    <tr>
      <td>BOLIVAR</td>
      <td>4</td>
      <td>128</td>
      <td>352</td>
    </tr>
    <tr>
      <td>RISARALDA</td>
      <td>5</td>
      <td>119</td>
      <td>337</td>
    </tr>
    <tr>
      <td>SANTANDER</td>
      <td>3</td>
      <td>93</td>
      <td>379</td>
    </tr>
    <tr>
      <td>MAGDALENA</td>
      <td>2</td>
      <td>89</td>
      <td>324</td>
    </tr>
    <tr>
      <td>QUINDIO</td>
      <td>2</td>
      <td>54</td>
      <td>327</td>
    </tr>
    <tr>
      <td>LA GUAJIRA</td>
      <td>2</td>
      <td>49</td>
      <td>314</td>
    </tr>
    <tr>
      <td>CESAR</td>
      <td>1</td>
      <td>48</td>
      <td>355</td>
    </tr>
    <tr>
      <td>CÓRDOBA</td>
      <td>1</td>
      <td>25</td>
      <td>323</td>
    </tr>
    <tr>
      <td>TOTAL</td>
      <td>350</td>
      <td>12993</td>
      <td></td>
    </tr>
  </tbody>
</table>
    </div><!-- container -->
{% endblock %}
